python2.7-dev
python-wheel
python-setuptools
python-psutil
cifs-utils
dmidecode
fsarchiver
gnupg
grub2-common
lshw
python-dmidecode
smartmontools
stress
libxml2-dev
libxslt1-dev
python-pip
python-dev
python-lxml
git
