include LICENSE
include MANIFEST.in
include *.md
include *.txt
recursive-include device_inventory *
recursive-include scripts *
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
