colorama==0.4.1
click==7.0
ereuse-utils[cli,getter,session,usb_flash_drive]==0.4.0b49
inflection==0.3.1
ntplib==0.3.4
numpy==1.16.3
pint==0.9
python-dateutil==2.8.0
pySMART.smartx==0.3.9
requests==2.21.0
requests-toolbelt==0.9.1
tqdm==4.32.2
python-decouple==3.3
pyjwt==2.1.0