# Packages with platform-dependent Python dependencies:
lxml      # Powerful and Pythonic XML processing library; deb:python-lxml
paramiko  # SSH2 protocol for Python; deb:python-paramiko
gnupg     # A Python wrapper for GnuPG; deb:python-gnupg

# You may extract Debian dependencies with:
#     sed -rn 's/.*\bdeb:(.+)$/\1/p' requirements*.txt
