libxml2
paramiko    # SSH2 protocol for Python
pyudev      # pure Python libudev binding
pySMART     # Wrapper for smartctl (smartmontools)
tqdm        # progress meter

# Debian repository
# lshw
# dmidecode
# python-dateutil
# python-dmidecode
# python-lxml
# usbmount
